* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #E8D00C;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.pokeball {
  z-index: 0;
  transform: rotate(-35deg);
  height: 320px;
  position: absolute;
  top: -30px;
  left: -85px;
}

nav {
  z-index: 350;
  display: flex;
  align-items: center;
  position: absolute;
  top: 160px;
  left: 180px
}

nav img {
  height: 45px;
  margin-right: 16px;
}

h1 {
  font-size: 40px;
  margin-right: 80px;
}

nav input {
  border: 3px solid black;
  border-radius: 8px;
  height: 30px;
  width: 160px;
}

#pokedex {
  z-index: 300;
  background-color: #FAF5CD;
  margin: 120px;
  margin-bottom: 50px;
  padding: 160px 40px 40px 40px;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

.pokedex-card {
  height: 400px;
  width: 240px;
  margin: 8px;
  cursor: pointer;
  color: black;
  padding: 24px;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.22), 1px 0px 0px 0px rgba(0,0,0,0.22), 1px 2px 0px 0px rgba(0,0,0,0.22), 2px 1px 0px 0px rgba(0,0,0,0.22), 2px 3px 0px 0px rgba(0,0,0,0.22), 3px 2px 0px 0px rgba(0,0,0,0.22), 3px 4px 0px 0px rgba(0,0,0,0.22), 4px 3px 0px 0px rgba(0,0,0,0.22), 4px 5px 0px 0px rgba(0,0,0,0.22), 5px 4px 0px 0px rgba(0,0,0,0.22), 5px 6px 0px 0px rgba(0,0,0,0.22), 6px 5px 0px 0px rgba(0,0,0,0.22), 6px 7px 0px 0px rgba(0,0,0,0.22), 7px 6px 0px 0px rgba(0,0,0,0.22), 7px 8px 0px 0px rgba(0,0,0,0.22), 8px 7px 0px 0px rgba(0,0,0,0.22);
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex-card:hover {
  transform: scale(1.02);
}

#image {
  height: 200px;
  display: flex;
}

#id {
  font-size: 18px;
  margin-bottom: 4px;
  margin-top: 32px;
}

#name {
  font-size: 20px;
}

.type-container {
  margin-top: 36px;
  display: flex;
}

.type-container button {
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
  width: 80px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.more-pokemon-button-container {
  display: flex;
  justify-content: center;
  align-items: end;
}

.more-pokemon-button {
  cursor: pointer;
  border: 3px solid black;
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  background-color: #FAF5CD;
  margin-bottom: 40px;
}

.padding {
  padding: 8px;
}

.d-none {
  display: none;
}

